*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #F5E8BA;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Cabinet Grotesk';
}

@font-face {
    font-family: "Cabinet Grotesk";
    src: url(./fonts/CabinetGrotesk_Complete/Fonts/Variable/CabinetGrotesk-Variable.ttf) format("truetype");
}