.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F5E8BA;
  justify-content: center;
}
 html, body {
  height: 100%;
  margin: 0;
}
/* body {
  
} */
.flex-row{
  display: flex;
  flex-direction: row;
}
.border{
  border: solid 2px;
  border-color: black;
}

.flex-column{
  display: flex;
  flex-direction: column;
}
#routes-container{
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}
#Project-icon {
  height: 40vmin;
  pointer-events: none;
}

#nav-modal{
  display: flex;
}

#about-main-text{
  width: 60%;
}

#about-image{
  width: 40%;
}
#about-container section:first-of-type{
flex-wrap: wrap;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Home */
#home-container{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  min-height: 55vh;
  height: 100%;
  flex-grow: 2;
  width: 85%;
  border: 1px black;

}



/* About */
.about-images{
  width: 25vw;
}
#about-container{
  width: 80%;
}

/* Header */
#header-container{
  /* position: sticky;  */
  top: 0;
  display: flex;
  padding: 2%;
  height: 7vh;
  justify-content: space-between;
}

.homeDisplay{
justify-content: space-around;
}

.homeDisplay div{
  width: 60%;
}

/* Project Icon */
svg{
  height: 20vh;
   font-family: Franklin Gothic, sans-serif;
   font-weight: 550; 
   text-transform: uppercase;
   letter-spacing: 6px;
}
@keyframes rotating {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.rotating {
  animation: rotating 12s linear infinite;
}

#projectsIcon{
  width: min-content;
  position:fixed;
  top: 10px;
  right: 0;
  margin-top: 15vh;
  margin-right: 3vw;
  /* width: 15%; */
}


/* Footer */
#footer{
  padding: 0 2vw;
  margin-top: auto;
  height: min-content;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#footer div{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around ;
  width: 50%;
  align-items: center;
}

/* Contact */
input{
  min-height: 6vh;
  width: 35%;
}
input:nth-child(3){
  height: 30vh;
  width: 70% !important;
}

.project-background{
  width: 200px;
  height: 100px;
  border-radius: 50%;
  transform: rotate(340deg);
  filter: blur(5px);
}
.home-sections:first-of-type{
  width: 100vw;
  height: 85vh;
  justify-content: space-around;
  
}

.home-sections{
/* justify-content: center; */
align-items: center;
}

#home-arrow{
  height: 4vh;
}
#home-inner-border{
  width: 60%;
  height: 45vh;
  border-radius: 80%;
  background-color: #F4DF9D;
  box-shadow: 0 0 70px 60px #F1C44B;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#home-button-section{
  align-items: center;
}
#home-button-section img{
  height: 4vh;
  z-index: 3;
}
#home-main-text{
  z-index: 2;
  margin-top: -10vh;
}
#home-main-text h1{
  font-size: 50px;
}
#home-main-text p{
  margin-top: -1vh;
  font-size: 20px;
}

#navMenuButton{
  height: 70%;
}